{
  "printWidth": 80,
  "parser": "typescript",
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "overrides": [
    {
      "files": ".babelrc",
      "options": { "parser": "json" }
    },
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    },
    {
      "files": "tslint.json",
      "options": { "parser": "json" }
    }
  ]
}
