{
  "presets": [
    "stage-0",
    "react",
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "plugins": [
    "transform-runtime",
    [
      "module-resolver",
      {
        "root": ["./tmp/ts"],
        "alias": {
          "@entity": "./entity",
          "@http": "./http",
          "@schema": "./schema"
        }
      }
    ]
  ]
}
